@model ConsumingApiPortalDaTransparencia.Models.DeputadosInfoDetalhada

@{
    ViewBag.Title = "DepDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resumo detalhado dos deputados</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-primary btn-large" })
</p>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <h2 class="text-dark"><b><span class="glyphicon glyphicon-user"></span>@Model.dados.nomeCivil</b></h2>
                        <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Sobre: </strong>Deputado Federal pelo Partido @Model.dados.ultimoStatus.siglaPartido-@Model.dados.ultimoStatus.siglaUf </p>
                        <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Naturalidade: </strong>@Model.dados.municipioNascimento-@Model.dados.ufNascimento</p>
                        <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Nascimento: </strong>@Model.dados.dataNascimento</p>
                        <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Situação: </strong>@Model.dados.ultimoStatus.situacao (@Model.dados.ultimoStatus.condicaoEleitoral)</p>
                        <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Escolaridade: </strong>@Model.dados.escolaridade</p>
                        
                    </div><!--/col-->
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img src=@Model.dados.ultimoStatus.urlFoto alt="" class="center-block img-circle img-responsive profile-img">
                    </div><!--/col-->
                </div><!--/row-->
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <h1>Teste1</h1>
    </div>

    @*
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <h2 class="text-primary"><b><span class="glyphicon glyphicon-user"></span>@Model.dados.nomeCivil</b></h2>
                                    <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Sobre: </strong>Deputado Federal pelo Partido @Model.dados.ultimoStatus.siglaPartido-@Model.dados.ultimoStatus.siglaUf </p>
                                    <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Naturalidade: </strong>@Model.dados.municipioNascimento-@Model.dados.ufNascimento</p>
                                    <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Nascimento: </strong>@Model.dados.dataNascimento</p>
                                    <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Situação: </strong>@Model.dados.ultimoStatus.situacao (@Model.dados.ultimoStatus.condicaoEleitoral)</p>
                                    <p><strong><span class="glyphicon glyphicon-ok-circle"></span>Escolaridade: </strong>@Model.dados.escolaridade</p>
                                    <p>
                                        <strong><span class="glyphicon glyphicon-thumbs-up"></span>Skills: </strong>
                                        <span class="label label-info tags">html5</span>
                                        <span class="label label-info tags">css3</span>
                                        <span class="label label-info tags">jquery</span>
                                        <span class="label label-info tags">bootstrap3</span>
                                    </p>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src=@Model.dados.ultimoStatus.urlFoto alt="" class="center-block img-circle img-responsive profile-img">
                                    <ul class="list-inline ratings text-center" title="Ratings">
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    </ul>
                                </div><!--/col-->

                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong> 10,7K </strong></h2>
                                    <p><small>Followers</small></p>
                                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Despesas </button>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong>35</strong></h2>
                                    <p><small>Following</small></p>
                                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                                </div><!--/col-->
                                <div class="col-xs-12 col-sm-4">
                                    <h2><strong>58</strong></h2>
                                    <p><small>Snippets</small></p>
                                    <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                                </div><!--/col-->

                            </div><!--/row-->
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </div>
            </div>
        </div>
    *@

